@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* width: 390px; */
    width: 100%;
    height: 844px;
    margin: 0 auto;
    background: linear-gradient(150deg, #91B5FD, #F0DDFF);
}
.container_button{
    /* background: red; */
    margin-top: 35px;
    margin-left: 22px;
    width: 345px;
    height: 34px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* width: 100%; */
}
.button1{
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 6px;
    background: transparent;
}
.button2{
    /* background: red; */
    width: 16px;
    height: 4px;
    border: none;
    img{
        margin-top: 15px;
    }
}
.container_scroll{
    /* background: red;  */
    width: 380px;
    height: 663px;
    display: flex;
    gap: 15px;
    flex-direction: row;
    margin-top: 15px;
    overflow-x: auto; /* Activa el scroll horizontal */
    white-space: nowrap; /* Evita que los elementos salten de línea */
    scrollbar-width: none; /* Oculta la barra de scroll en Firefox */
} 
.container_main {
    background: var(--color-20);
    width: 343px;
    height: 596px;
    margin-left: 22px;
    margin-top: 46px;
    padding-top: 17px;
    padding-left: 18px;
    border-radius: 12px;
}
.img_ticket {
    /* background: violet; */
    width: 305px;
    height: 159px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
    
}
.text_ticket {
    /* background: turquoise; */
    margin-top: 20px;
    width: 328px;
    height: 65px;
    h1{
        font-size: 18px;
        font-family: "Inter-Semibold";
        /* width: 275px; */
        height: 22px;
        font-weight: 100;
    }
    p{
        font-size: 12px;
        font-family: "Inter-Regular";
        /* width: 295px; */
        height: 32px;
        color: var(--color-19);
        margin-top: 8px;
        font-weight: 100;
    }
}
.container_text {
    /* background: teal; */
    width: 305px;
    height: 36px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 52px;
}
.text {
    /* background: orange; */
    width: 140px;
    height: 36px;
    
    h3{
        font-size: 12px;
        font-family: "Inter-Medium";
        color: var(--color-19);
        font-weight: 100;
    }
    p{
        font-size: 14px;
        font-family: "Inter-Semibold";
        /* width: 275px; */
        height: 22px;
        color: var(--color-18);
        font-weight: 100;
    }
}
.line{
    margin-left: -20px;
    /* margin-right: -2px; */
    margin-top: 11px;
    /* width: 1; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.code{
    margin-left: 18px;
    margin-top: 6px;

}
.paragraph{
    width: 209px;
    height: 15px;
    margin-top: -5px;
    p{
        font-size: 12px;
        font-family: "Inter-Regular";
        margin-top: 16px;
        margin-left: 50px;
        color: var(--color-18);
        white-space: nowrap;
        font-weight: 100;
    }
    
}