
 /************ Colors Home  ************/

 :root{
    --color-1: #FFFFFF;
    --color-2: #000000;
    --color-3: #EC441E;
    --color-4: hsla(251, 33%, 22%, 0.300);
    --color-5: #00EDFC;
    --color-6: hsla(251, 33%, 22%, 0.500);
    --color-7: #333333;
    --color-8: #22227E;
    --color-9: #751F8B;
    --color-10: #761CBC;
    --color-gradient-body: linear-gradient(90deg, #faffff, #fdfcfe);
}

 /************ Colors Detail  ************/

 :root{
    --color-11: #000000;
    --color-12: #FFFFFF;
    --color-13: hsla(251, 33%, 22%, 0.250);
    --color-14: #761CBC; 
    --color-15: #0092FC;
    --color-16: #706D6D; 
    --color-17: hsla(0, 0%, 100%, 0.200); 
   
 }

  /************ Colors Tickets  ************/

 :root{
    --color-18: #000000;
    --color-19: #5F5A5A;
    --color-20: #FFFFFF;
    --color-21: hsla(0, 5%, 39%, 0.500); 
    --color-22: hsla(0, 5%, 39%, 0.050);
    --color-23: #E5D8FF;
    --color-24: #91B5FD;  
    --color-25: #F0DDFF;
    --color-26: #D1D0FE; 
    --color-27: #E6D9FF; 
    --COLOR-28: hsla(0, 0%, 100%, 0.200);
    --color-29: linear-gradient(150deg, #91B5FD, #F0DDFF);
 }

 /**************** Font ******************/
@font-face {
    font-family: "Inter-Semibold";
    src: url(../storage/fonts/Inter/Inter_28pt-SemiBold.ttf);
}
@font-face {
    font-family: "Inter-Regular";
    src: url(../storage/fonts/Inter/Inter_18pt-Regular.ttf);
}
@font-face {
    font-family: "Inter-Medium";
    src: url(../storage/fonts/Inter/Inter_18pt-Medium.ttf);
}
@font-face {
    font-family: "DMSans-Regular";
    src: url(../storage/fonts/DM_Sans/static/DMSans-Regular.ttf);
}