@import url(variables_home.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--color-0);
    padding: 39px 20.5px;
}

/* OPTIONS HEADER */
.options_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.option_menu {
}

/* TITLE */
.container_title{
    margin-top: 20px;
    width: 100%;
    .title{
        width: 265px;
        height: 72px;
        h1:nth-child(1){
            font-family: "Inter-SemiBold";
            font-size: 30px;
            color: var(--color-2);
        }
        h1:nth-child(2){
            font-family: "Inter-SemiBold";
            font-size: 30px;
            color: var(--color-3);
        }
    }
}
.option_notificacion {
}
/* SEARCH HEADER */
.serch_container {
    margin-top: 20px;
    background: var(--color-1);
    display: flex;
    width: 100%;
    padding: 12px;
    justify-content: space-between;
    border-radius: 10px;

    button{
        width: 17px;
        height: 17px;
        border: none;
        background: var(--color-1);
        img{
            width: 100%;
            height: 100%;

        }
    }
    input{
        display: flex;
        position: absolute;
        left: 61px;
        height: 17px;
        border: none;
        box-sizing: border-box;
        background: var(--color-1);
    }
    input::placeholder{
    color: var(--color-2);
    font-size: 12px;
    font-family: "Inter-Regular";
    }
}

/* RECOMEND SEARCH */
.recomend_search {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
    height: 28px;
    margin-top: 16px;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    a{
        flex: 0 0 auto;
        font-family: "Inter-Regular";
        font-size: 12px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: var(--color-2);
    }
    a:nth-child(1){
        width: 112px;
        height: 28px;
        background: var(--color-fond-1);
    }
    a:nth-child(2){
        width: 76px;
        height: 28px;
        background: var(--color-fond-2);
    }

    a:nth-child(3){
        width: 104px;
        height: 28px;
        background: var(--color-fond-3);
    }

    a:nth-child(4){
        width: 63px;
        height: 28px;
        background: var(--color-fond-4);
    }

}
.recomend_search::-webkit-scrollbar {
    display: none;
}

/* EVENTOS EN TENDENCIA */

.eventstendencias_container {
    display: flex;
    flex-direction: column;
}
.title_tendencias {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
    h2{
        font-family: "Inter-SemiBold";
        font-size: 18px;
        color: var(--color-2);
    }
    a{
        font-family: "Inter-Regular";
        font-size: 12px;
        color: var(--color-4);
        text-decoration: none;
    }
}
.eventos_container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-top: 16px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    scrollbar-width:none ;

}
.eventos_container::-webkit-scrollbar {
    display: none;
}
.container_img1 {
    width: 100%;
    display: flex;
    justify-content: center;
}
.container_list {
    position: absolute;
    background-color: rgba(96, 51, 116, 0.27);
    backdrop-filter: blur(12.5px);
    padding: 16.5px 13px;
    width: 332px;
    height: 90px;
    top: 88px;
    border-radius: 10px;
}
.list1 {
    display: flex;
    flex-direction: column;
    gap: 6px;
    h3{
        font-family: "Inter-SemiBold";
        font-size: 10px;
        color: var(--color-1);
    }
    p{
        font-family: "Inter-Regular";
        font-size: 12px;
        color: var(--color-1);
    }
}
.info1 {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.info2 {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.list2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 27.5px;
    left: 217px;
    h4{
        font-family: "Inter-Regular";
        font-size: 10px;
        color: var(--color-1);
    }
    p{
        font-family: "Inter-SemiBold";
        font-size: 16px;
        color: var(--color-1);
    }
}

.eventscerca_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.title_eventscerca {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
    h2{
        font-family: "Inter-SemiBold";
        font-size: 18px;
        color: var(--color-2);
    }
    a{
        font-family: "Inter-Regular";
        font-size: 12px;
        color: var(--color-4);
        text-decoration: none;
    }
}
.container_eventos{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 16px;
}
.container_img2 {
    display: flex;
    flex-direction: column;
    background: var(--color-1);
    padding: 8px;
    border-radius: 8px;

}
.container_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 9px;
    h4{
        font-family: "Inter-SemiBold";
        font-size: 10px;
        color: var(--color-2);
    }
    .lista1{
        display: flex;
        flex-direction: row;
        gap: 8px;
        p{
            font-family: "Inter-Regular";
            font-size: 8px;
            color: var(--color-2);
        }
    }
    .lista2{
        display: flex;
        flex-direction: row;
        gap: 8px;
        p{
            font-family: "Inter-Regular";
            font-size: 10px;
            color: var(--color-2);
        }
    }
    .lista3{
        display: flex;
        flex-direction: row;
        gap: 8px;
        h3{
            font-family: "Inter-SemiBold";
            font-size: 12px;
            color: var(--color-5);
        }
    }
}