:root{
    --color-1: #000000;
    --color-2: #5F5A5A;
    --color-3: #FFFFFF;
    --color-4: hsla(0, 5%, 39%, 0.500); 
    --color-5: hsla(0, 5%, 39%, 0.050);
    --color-6: #E5D8FF;
    --color-7: #91B5FD;  
    --color-8: #F0DDFF;
    --color-9: #D1D0FE; 
    --color-10: #E6D9FF; 
    --color-11: hsla(0, 0%, 100%, 0.200);
    --color-12: linear-gradient(150deg, #91B5FD, #F0DDFF);
}
@font-face {
    font-family: "Inter-SemiBold";
    src: url(../storade/font/Inter_28pt-SemiBold.ttf);
}
@font-face {
    font-family: "Inter-Regular";
    src: url(../storade/font/Inter_18pt-Regular.ttf);
}
@font-face {
    font-family: "Inter-Medium";
    src: url(../storade/font/Inter_18pt-Medium.ttf);
}